{% if user %}
<form name="addQ" method="post" action="/addQ">
<table align="center" width="40%" border="0" cellpadding="5" cellspacing="5">
<tr >
	<td >Select a Survey</td>
    <td>
    	<select name="surveyid" >
        	<option value="-1" ></option>
        	{% for survey in surveys %}
        	<option {% if survey.key.id == selsurvey.key.id %} selected {% endif %} 
            value="{{survey.key.id}}">{{ survey.surveyname }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr >
	<td>Please enter a question for<br />your survey</td>
    <td><input type="text" size="40" name="questiondes" /></td>
</tr>
<tr >
	<td >Please enter all answer choices separated by new line character</td>
    <td><textarea name="answers" rows="4" cols="40"></textarea></td>
</tr>
<tr >
    <th colspan="2"><input type="submit" value="Add Question" class="myButton" /></th>
</tr>
</table>
</form>
{% endif %}