{% if user %}
<table align="center" width="40%" border="0" cellpadding="5" cellspacing="5">
<form method="post" action="/changeN">
<tr >
	<th>Survey Name<input type="hidden" name="surveyid" value="{{survey.key.id}}" /></th>
	<td ><input type="text" name="surveyname" value="{{survey.surveyname}}" /></td>
</tr>
<tr>
	<th>Expiry Date</th>
	<td >
		<input name="expiry" id="expiry" type="text" size="16" class="date-pick" readonly value="{{survey.expiry|date:"Y-m-d"}}">
		<button onClick="javascript:clearbox('expiry');return false" name="clear" class="clear" title="Click to clear date">Clear</button>
    </td>
<tr >
<tr>
	<th colspan="2"><input type="submit" class="myButton" value="Update name/expiry" title="Click to update" onClick="return verify()"></th>
</tr>
</form>
</table>
<table align="center" width="40%" border="0" cellpadding="5" cellspacing="5">
{% for question in questions %}
<form name="editsurvey" method="post" action="/updateQ">
<tr>
	<td colspan="2">Question{{ forloop.counter }}. 
    <input type="text" size="40" name="questiondes" value="{{question.questiondes}}" />
    <input type="hidden" name="questionid" value="{{question.key.id}}" />
    <input type="hidden" name="surveyid" value="{{survey.key.id}}" />
    <input type="hidden" name="todo" value="update" />
    </td>
</tr>
<tr>
<td colspan="2">

<textarea name="answers" rows="4" cols="40">
{{question.answerlist|join:"&#10;"}}
</textarea>
</td>
</tr>
<tr>
	<td><input type="submit" class="button-grant" value="Update Question" title="Click to Update Question {{ forloop.counter }}"></td></form>
    <td>
    	<form method="post" action="/deleteQ">
        <input type="hidden" name="questionid" value="{{question.key.id}}" />
        <input type="hidden" name="surveyid" value="{{survey.key.id}}" />
        <input type="submit" class="button-revoke" title="Click to delete Question {{ forloop.counter }}" value="Delete Question" />
		</form>
    </td>
</tr>
<tr><td colspan="2"><hr /></td></tr>

{% endfor %}
<tr>
	<td colspan="2" align="center"><a href="/addQ?id={{survey.key.id}}">Add More Questions to this Survey</td>
</tr>
</table>
{% endif %}