<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html\r\n\r\n; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<title>{{ active }}</title>
</head>
<body>
<h1 align="center">Survey-Monk</h1>
{% if user %}
Welcome, {{user.nickname}}
<div id="nav" >
    <ul>
    	<li ><a href="/home" {% if active == "home" %} class="active" {% endif %}>Home</a></li>
        <li><a href="/create" {% if active == "create" %} class="active" {% endif %}>Create Survey</a>
        </li>
        <li><a href="/view" {% if active == "view" %} class="active" {% endif %}>Manage Surveys</a>
        </li>
		<li><a href="/participate" {% if active == "participate" %} class="active" {% endif %}>Participate</a>
        </li>
		<li><a href="/addQ" {% if active == "addQ" %} class="active" {% endif %}>Add Questions</a>
        </li>
		<li><a href="" {% if active == "edit" %} class="active" {% else %} class="hide" {% endif %}>Edit Survey</a>
        </li>
        <li class="logout"><a href="{{url}}">{{url_linktext}}</a></li>
    </ul>
</div>
{% else %}<font size="+1">
 <a href="{{url}}">{{url_linktext}}</a> with your Google Account to enter the survey system.</font>
{% endif %}
