<table align="center" width="40%"  cellpadding="5" cellspacing="5">
<tr ><td></td>
</tr>

</table>

{% if user %}
<table align="center" width="40%">
<tr >
	<th colspan="3" class="header">List of all your surveys</th>
</tr><tr><td colspan="3" align="center"><font color="red">Click on the survey name for editing</font></td></tr>
</table>
<table align="center" width="40%" class="sortable" id="sortabletable">
<tr >
	<!--<th>Serial Number</th>-->
	<th>Your Surveys</th>
	<th>Creation Time</th>
	<th>Expiration Date</th>
</tr>
{% for survey in surveys %}
<tr >
	<!--<td align="center">{{forloop.counter}}</td>-->
    <td align="center">
    <a href="/edit?id={{survey.key.id}}" class="user">{{survey.surveyname}}</a>
    </td>
    <td align="center">{{survey.created}}</td>
	<td align="center">{{survey.expiry}}</td>
</tr>
{% endfor %}
{% endif %}
</table>
