{% if user %}
<table align="center" width="40%" border="0" cellpadding="5" cellspacing="5">
<tr >
	<th colspan="4" class="header">List Of All Available Surveys</th>
</tr>
<tr >
	<th align="left">Serial No.</th>
    <th align="left">Survey Name</th>
    <th align="left">Author</th>
    <th align="left">Creation Time</th>
</tr>
{% for survey in surveys %}
<tr >
	<td >{{forloop.counter}}</td>
    <td ><a href="/vote?id={{ survey.key.id }}" >{{ survey.surveyname }}</a></td>
    <td >{{ survey.author }}</td>
    <td >{{ survey.created }}</td>
</tr>
{% endfor %}
</table>
{% endif %}