{% if user %}
<table align="center" width="60%" border="0" cellpadding="5" cellspacing="5">
<tr >
	<th colspan="4" class="header">List Of All Available Surveys</th>
</tr>
<tr >
	<td colspan="4" align="center"><font color="red">Click on the survey name to vote or view results</font></th>
</tr>
</table>
<table align="center" class="sortable" id="sortabletable" width="60%" border="0" cellpadding="5" cellspacing="5">

<tr >
	<!--<th align="left">Serial No.</th>-->
    <th class="sortable"align="left">Survey Name</th>
    <th align="left">Author</th>
    <th align="left">Creation Time</th>
	<th align="left">Expiration Date</th>
</tr>
{% for survey in surveys %}
<tr >
    <td ><a href="/vote?id={{ survey.key.id }}" class="user" title="click to start {{ survey.surveyname }}">{{ survey.surveyname }}</a></td>
    <td >{{ survey.author }}</td>
    <td >{{ survey.created }}</td>
	<td >{{ survey.expiry }}</td>
</tr>
{% endfor %}
</table>
{% endif %}