{% if user %}
<table align="center" width="40%" border="0" cellpadding="5" cellspacing="5">
<tr >
<th colspan="2" class="header">Admin Interface</th>
</tr>
<tr >
	<td colspan="2" align="center"><font color="red">Grant/Revoke super user privileges to/from other users</font></th>
</tr>
{% for administrator in administrators %}
<form method="Post" action="/removeAdmin">
{% if user.nickname != administrator.username and administrator.username != "abhinavsahai4u" %}
<tr >
	<td><input type="hidden" value="{{ administrator.key.id }}" name="aid" />
		{{ administrator.username }}
    </td>
    <td>
    	<input type="submit" value="Revoke Access" class="button-revoke"/>
    </td>
</tr>
{% endif %} 
</form>
{% endfor %}

<form method="Post" action="/addAdmin">
<tr >
	<td>
    	Make Admin (Please enter the username):
    </td>
    <td>
    	<input type="text" name="nickname"  />
    </td>
</tr>
<tr >
<th colspan="2">
    <input type="submit" value="Grant Access" class="button-grant" />
    </th>
</form>
</tr>

</table>
{% endif %}