{% if user %}
<table align="center" width="40%" border="0" cellpadding="5" cellspacing="5">
<tr >
	<th colspan="3" class="header">Survey Name - {{ survey.surveyname }}</th>
</tr>
<tr >
	<td colspan="3" ><strong>Question - </strong>{{ question.questiondes }}</td>
</tr>
<tr >
	<th>S.No.</th><th>Voter </th><th>Answer</th>
</tr>
{% for voter in voters %}
<tr >
	<td align="center">{{forloop.counter}}</td>
    <td align="center">{{voter.voter}}</td>
    <td align="center">{{voter.answer}}</td>
</tr>
{% endfor %}
</table>
{% endif %}